<!DOCTYPE html>
<html>
<head>
  <title>Program</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-0"></div>
    <div class="col-lg-4 col-md-4 col-sm-10">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>


  <%= yield %>

    </div>
  </div>
</div>
</body>

</html>
